Microsoft.Flow/flows/1c93c830-1301-400b-8489-7ea86981cf51/definition.json
{"name":"9adc2701-3c51-4f6d-bbcd-a7d969f68456","id":"/providers/Microsoft.Flow/flows/9adc2701-3c51-4f6d-bbcd-a7d969f68456","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"OpenAI DALL·E","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"e258a75a-99bf-4916-be65-2a9b0c0e1875","type":"User","tenantId":"759f9e8b-cf6d-4ef2-b0bc-dd4bdf1e7c56"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-11-08T15:21:02.4065588Z","connectionKeySavedTimeKey":"2023-11-07T15:21:41.3962654Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_keywords_are_mentioned":{"metadata":{"operationMetadataId":"d38189ea-ac63-4199-937d-5a2de301af55"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"WebhookKeywordTrigger"},"parameters":{"threadType":"channel","$search":"\"!GPT\"","requestBody/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","requestBody/channels":["19:4a785332c74e41c6a3c15fe6d9aec648@thread.tacv2"]},"authentication":"@parameters('$authentication')"}}},"actions":{"Apply_to_each":{"foreach":"@triggerOutputs()?['body/value']","actions":{"Get_message_details":{"runAfter":{},"metadata":{"operationMetadataId":"7826e953-84c3-4174-a5f9-57a154ba4a03"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"GetMessageDetails"},"parameters":{"messageId":"@items('Apply_to_each')?['messageId']","threadType":"channel","body/recipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/recipient/channelId":"19:4a785332c74e41c6a3c15fe6d9aec648@thread.tacv2","body/recipient/parentMessageId":"@items('Apply_to_each')?['replyToMessageId']"},"authentication":"@parameters('$authentication')"}},"HTTP":{"runAfter":{"Post_a_feed_notification":["Succeeded"]},"metadata":{"operationMetadataId":"be9558d8-323b-4380-bd1b-9747f8784011"},"type":"Http","inputs":{"method":"POST","uri":"https://api.openai.com/v1/images/generations","headers":{"Accept":"application/xml","Content-Type":"application/json","Authorization":"Bearer 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"},"body":{"prompt":"@{replace(body('Get_message_details')?['body']?['content'],'!GPT ','')}","n":1,"model":"dall-e-3","size":"1792x1024","response_format":"b64_json"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","operationId":"HttpRequest","connection":"shared_office365"},"parameters":{"Uri":"https://api.openai.com/v1/completions","Method":"POST","Body":"{\n  \"model\": \"gpt-3.5-turbo\",\n  \"prompt\": \"@{outputs('Get_message_details')?['body/body/content']}\",\n  \"max_tokens\": 2000,\n  \"temperature\": 0\n}","ContentType":"application/json","CustomHeader1":"Accept: application/xml","CustomHeader2":"Authorization: Bearer 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"}}},"Create_file":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"653ba613-28dc-4f50-9bb3-62c1034ad629"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/Microsoft Teams Chat Files/DALL·E","name":"@concat(items('Apply_to_each')?['replyToMessageId'], '.jpg')","body":"@base64ToBinary(body('HTTP')?['data'][0]?['b64_json'])"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_share_link_by_path":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"2e144aef-80d5-437d-a61f-2e22c4f42827"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateShareLinkByPathV2"},"parameters":{"path":"@outputs('Create_file')?['body/Path']","type":"View","scope":"Organization"},"authentication":"@parameters('$authentication')"}},"Get_file_thumbnail":{"runAfter":{"Create_share_link_by_path":["Succeeded"]},"metadata":{"operationMetadataId":"06286409-0b7e-42f0-90ad-d99fe2269b7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileThumbnail"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","size":"Large"},"authentication":"@parameters('$authentication')"}},"Reply_with_adaptive_card_in_a_channel":{"runAfter":{"Get_file_thumbnail":["Succeeded"]},"metadata":{"operationMetadataId":"621e8135-a8df-4b86-9e9b-c7161c74907e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"ReplyWithCardToConversation"},"parameters":{"poster":"Flow bot","location":"Channel","body/parentMessageId":"@items('Apply_to_each')?['replyToMessageId']","body/recipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/recipient/channelId":"19:4a785332c74e41c6a3c15fe6d9aec648@thread.tacv2","body/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"auto\",\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"@{outputs('Get_file_thumbnail')?['body/Url']}\",\n                            \"size\": \"Large\"\n                        }\n                    ]\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": \"stretch\",\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"text\": \"View Full Resolution Image\",\n                            \"wrap\": true,\n                            \"weight\": \"Bolder\",\n                            \"color\": \"Accent\",\n                            \"horizontalAlignment\": \"Center\",\n                        }\n                    ],\n                    \"selectAction\": {\n                        \"type\": \"Action.OpenUrl\",\n                        \"url\": \"@{outputs('Create_share_link_by_path')?['body/WebUrl']}\"\n                    },\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"@{body('HTTP')?['data'][0]?['revised_prompt']}\",\n            \"wrap\": true,\n            \"horizontalAlignment\": \"Center\"\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.3\"\n}"},"authentication":"@parameters('$authentication')"}},"Post_a_feed_notification":{"runAfter":{"Get_message_details":["Succeeded"]},"metadata":{"operationMetadataId":"09310afb-2bcf-4d6a-8eb5-deffe10af927"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostFeedNotification"},"parameters":{"poster":"Flow bot","notificationType":"team","body/recipient":"@outputs('Get_message_details')?['body/from/user/id']","body/previewText":"Processing... \"@{replace(body('Get_message_details')?['body']?['content'],'!GPT ','')}\"","body/channelRecipient/groupId":"5cdffa93-597d-488f-a5bd-a7eac4aa1874","body/channelRecipient/channelId":"19:4a785332c74e41c6a3c15fe6d9aec648@thread.tacv2","body/messageId":"@items('Apply_to_each')?['replyToMessageId']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"metadata":{"operationMetadataId":"c42d04fc-0ffd-4ffa-bd56-9d8edaabc797"},"type":"Foreach"}}},"connectionReferences":{"shared_teams":{"connectionName":"shared-teams-6c6aa62e-cce7-4cde-af73-db71c2fe7eda","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-e954ddeb-7bf5-4e5e-87c1-141cd478fece","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}